<h1>Print Center Options</h1>
<p>In order for the Print Center to best serve you, please fill in the information below.</p>
<form [formGroup]="printCenterOptions" (ngSubmit)="onSubmit()">
  <h2>Deliver to:</h2>
  <input type="radio" id="owner" formControlName="deliverTo" [value]="'owner'">
    <label for="owner">Meeting Owner - Delivery will occur one business day prior to meeting time.</label><br>
  <input type="radio" id="room" formControlName="deliverTo" [value]="'room'">
    <label for="room">Meeting Room - Delivery will occur 15 minutes prior to the meeting time.</label><br>

  <textarea id="special-instructions" formControlName="specialInstructions" placeholder="If you have any specific instructions pertinent to your entire order, please enter them here...">
  </textarea>

  <table formArrayName="selections">  
    <tr>
      <th>File</th>
      <th>Print</th>
      <th>Color</th>
      <th>Notes</th>
    </tr>
    <tr *ngFor="let docSelection of selections.controls; let i = index" formGroupName="{{i}}">
      <td>{{docSelection.value.filename}}</td>
      <td>
        <input type="checkbox" id="print-{{i}}" formControlName="print">
      </td>
      <td>
        <input type="checkbox" id="color={{i}}" formControlName="color">
      </td>
      <td>
        <input type="text" id="notes{{i}}" formControlName="notes">
    </td>
    </tr>
  </table>
  <p>*File is not compatible with print center</p>
  <button type="submit">Submit</button>
  <button (click)="onCancel()">Cancel</button>
</form>    