.outer-container {
  font-family: sans-serif;
  width: 60%;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
}

.inner-container {
  padding: 5px;
}

.header {
  font-size: 1.8rem;
  margin-top: 2px;
  margin-bottom: 5px;
  font-weight: normal;
}

.subheader {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}

.informational {
  margin-top: 5px;
  margin-bottom: 6px;
}

.deliver-to-container input[type="radio"] {
  display: none;
}

.deliver-to-container input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
}

.deliver-to-container input[type="radio"]:checked + *::before {
  background: radial-gradient(black 0%, black 40%, transparent 50%, transparent);
  border-color: black;
}

.deliver-to-container input[type="radio"]:checked + * {
  color: black;
}

.special-instructions-container {
  height: 4rem;
  margin: 8px 0;
  border: 3px solid black;
}

#special-instructions {
  box-sizing: border-box;
  width: 100%;
  height:inherit;
  border: none;
  overflow: hidden;
  resize: none;
}

.regular-size-text {
  font-size: 0.9rem;
  font-weight: 200;
}

.green {
  color: green;
}

.red {
  color: red;
}

.fade-text {
  opacity: 50%;
}

table.document-selection{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

th.document-selection {
  border: 1px solid black;
  text-align: left;
  padding-left: 5px;
}

th.document-selection.file {
  width: 40%;
  padding-left: 10px;
}

th.document-selection.print {
  width: 10%;
  text-align: center;
}

th.document-selection.color {
  width: 10%;
  text-align: center;
}

th.document-selection.notes {
  width: 40%;
}

td.document-selection {
  border: 1px solid black;
}

td.document-selection.print {
  text-align: center;
}

td.document-selection.color {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #d3d3d3d1;
}

input[type='text'].notes {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
}

.not-bold {
  font-weight: normal;
}

.bottom-container {
  display: flex;
  align-items: center;
}

.message-container {
  width: 40%;
  text-align: left;
}

.button-container {
  width: 60%;
  text-align: right;
}

.submit {
  width: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.cancel {
  width: 100px;
  border-radius: 5px;
 }

